[submodule "clp_landmark_detection"]
	path = clp_landmark_detection
	url = https://github.com/skatld123/clp_landmark_detection.git
[submodule "license_plate_mmdetection"]
	path = license_plate_mmdetection
	url = https://github.com/skatld123/license_plate_mmdetection.git
[submodule "weighted_box_fusion"]
	path = weighted_box_fusion
	url = https://github.com/skatld123/weighted_box_fusion.git
