[submodule "License-Plate-Detection"]
	path = License-Plate-Detection
	url = https://github.com/skatld123/License-Plate-Detection.git
[submodule "Object-Detection-WBF"]
	path = Object-Detection-WBF
	url = https://github.com/skatld123/Object-Detection-WBF.git
[submodule "License-Plate-Landmarks-detection"]
	path = License-Plate-Landmarks-detection
	url = https://github.com/skatld123/License-Plate-Landmarks-detection.git
